.header {
  text-align: center;
  padding: 10px;
  background: #ceb1f1;
}

.add {
  text-align: center;
}

input[type="text"],
input[type="url"] {
  padding: 10px;
  border-radius: 7px;
  border: 2px solid #f1b1f1;
  width: 30%;
}

#category {
  padding: 10px;
  border-radius: 7px;
  border: 2px solid #f1b1f1;
  width: 31.4%;
}

#button {
  padding: 10px 200px;
  border: none;
  background-color: #f1b1f1;
  color: #fff;
  border-radius: 7px;
  cursor: pointer;
}

a:link {
  text-decoration: none;
  color: #f1b1f1;
}

a:hover {
  text-decoration: underline;
}

#links {
  display: table;
  width: 100%;
}

#links span {
  display: table-cell;
  text-align: center;
}

#sl,
#dl,
#al,
#bl,
#ll,
#dil,
#del {
  margin: 0;
  padding: 10px;
  font-size: 20px;
  font-family: "Arial";
  border-radius: 7px;
  width: fit-content;
  background: #000000;
}

ul {
  font-family: "Arial";
  text-align: center;
  font-size: 20px;
}

li {
  text-align: left;
  cursor: pointer;
  position: relative;
  padding: 10px 10px;
  border-radius: 10px;
  list-style: none;
  background: #000000;
  font-family: "Arial";
  user-select: none;
  color: #fbfafc;
}

li:hover {
  background: #1964e6;
  transition: 0.5s;
}

li:nth-child(odd):hover {
  background: #1964e6;
  transition: 0.5s;
}

li:nth-child(odd) {
  background: #2a2e36;
}

#url {
  width: 30%;
  border-radius: 4px;
}

#description {
  width: 10%;
}

.remove {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}
